body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
nav{
    background-color: #3fa69a;
}
.board-card{
	border-radius: 5px;
	height: 200px;
}
.margin-5{
	margin-top: -5px;
}
/*.App {
  text-align: center;
}*/

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
*/
/*.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}*/

/*.App-title {
  font-size: 1.5em;
}*/

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.card.small {
    height: 110px !important;
}
.card-layout{
    position: relative;
    left: 35px;
}
.my-container{

    border-radius: 8px;
    background: #ffffff;
    padding: 20px;
    width: 200px;
    height: 122px;
    margin-top: 12px;
    margin-left: 72px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #3fa69a;
}
.my-list{
  font-size: 1.8em;
    font-weight: 500;
    text-align: center;
}
.list-card{
  width:100%;
  padding: 10px;
  height: 250px;
  background: #fff;
  box-sizing: border-box;
  border: 2px solid #3fa69a;
}
.my-span{
  font-size: 1em;
  font-weight: 500;
  text-align: center;
}
/*.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}*/

.card-panel {
  flex: 1;
}
.display-card{
  display: flex;
  flex-direction: column;
}
.top-margin{
      margin-top: 14px;
}
.draggable-component{
  background: #fff;
    box-sizing: border-box;
    border: 1px solid #3fa69a;
    width: 90%;
    box-shadow: 1px 2px 5px #888888;
}
.todos{
      background: #fff;
    box-sizing: border-box;
    border: 1px solid #131716;
    padding: 5px;
}